.tile-content-container {
    width: 100%;

    app-image {
        display: block;
        margin-bottom: 24px;

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    h2 {
        font-family: 'open-sans-medium';
        font-size: 14px;
        color: #fff;
    }

    p {
        font-family: 'open-sans-light';
        font-size: 12px;
        color: #d3d4d4;
    }

    a {
        font-family: 'open-sans-medium';
        font-size: 14px;
        line-height: 14px;
        color: #fff;
        border-bottom: 2px solid #ce1331;
        padding-bottom: 3px;
        display: inline-block;
        text-decoration: none;
    }
}