<section>
  <div class="container">
    <div class="featured-content">
      <div class="image-carousel" [ngClass]="['items-' + pageContent.images.length]">
        <ng-container *ngFor="let image of pageContent.images">
          <div class="image-container">
            <img class="image-desktop" src="{{image.desktop}}" >
            <img class="image-mobile" src="{{image.mobile}}">
          </div>
        </ng-container>
      </div>
      <div class="description">
        <h2 [innerHTML]="pageContent.title"></h2>
        <p [innerHTML]="pageContent.description"></p>
      </div>
    </div>
    <img src="/assets/348908478.png" alt="">
  </div>
</section>
